*{
    margin: 0;
}

.default-translate-loading-line{
    transform: translateY(-1800px);
}
.on-translate-loadingg-line{
    transition: 6s;
    transform: translateY(1800px);
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar:horizontal{
height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #bbbbba;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
 background-color:rgb(142, 140, 140);
    border-radius: 1px;
  }

  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

 html{
  scroll-behavior: smooth;
 }
